@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #fdfde8;
    font-family: 'Inter', sans-serif; 
}

h1 {
    background-color:#fdfde8;
    color: #211103;
    width: fit-content;
    margin: 50px auto;
    padding: 20px; 
    border: 5px solid #013220; 
    border-radius: 11px;
    font-style: italic;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    color: #211103;
    margin: 50px auto; 
    border: 3px solid #013220; 
    border-radius: 7px;
    padding: 20px; 
    text-align: center;
    font-size: 1.4rem;
    list-style-position: inside;
    list-style-type: upper-roman;
}

.links a {
    text-decoration: none; 
    color: #211103;
    transition: color 0.3s; 
}

.links a:hover {
    color: #5C7C3A;
}
@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    .links{
        font-size: 1.2rem
    }
}