@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    border: #211103 3px solid;
}

body {
    background-color: #FAFDF6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: #F2F3AE;
    color: #211103;
     width: fit-content;
     margin: 100px auto;
     padding: 50px;
     border:7px solid #211103;
     font-family: Cursive;
     font-style: italic;
 }
 .img{
    display: flex;
    justify-content: center;
    align-items: center;
 }
     
  .links{
    color: #211103;
    margin: 50px;
    border: #013220 double 17px;
    border-radius: 7px;
    padding: 30px;
    text-align: center;
    font-size: 1.7rem;
    list-style-position: inside;
    list-style-type: upper-roman;
  }